{% extends "_layout_dashboard.twig" %}

{% set menuSlug = "servers" %}
{% set pageTitle = "Server - " ~ server.server_name %}
{% set loadIndexServerSites = true %}

{% block main %}
{% include 'includes/top-bar.twig' %}

<section>
    <div class="container">
        <div class="entity-header">
            <div class="left">
                <a class="button --icon-left" href="/servers"><i data-feather="chevron-left"></i>Servers</a>
                <h1>{{server.server_name}}</h1>
            </div>
            <div class="right">
                {% if user.level <= 2 %}
                <div class="button-group">
                    <a href="#" class="delete-server button --danger --icon-left" data-slug="{{server.server_slug}}">Delete<i data-feather="trash-2"></i></a>
                    <a href="#" class="flyout-server_edit button --icon-left">Edit<i data-feather="edit-3"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="cards --2-col">
            <div class="col">
                <div class="card --has-footer">
                    <div class="header">
                        <div class="icon"><i data-feather="server"></i></div>
                        <span>Server Details</span>
                    </div>
                    <div class="body">
                        <div class="data">
                            <div class="attribute">
                                <span>Server Name</span>
                                <span>{{server.server_name}}</span>
                            </div>
                            <div class="attribute">
                                <span>Provider</span>
                                <span>{{server.provider}}</span>
                            </div>
                            <div class="attribute">
                                <span>IP Address</span>
                                <span>{{server.ip_address}}</span>
                            </div>
                            <div class="attribute">
                                <span>Sites</span>
                                <span>{{server.site_count}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="button-group">
                            {% if user.level <= 2 %}
                            <a href="#" class="flyout-site_new button --primary --icon-left" data-server="{{server.server_slug}}">New Site<i data-feather="plus-circle"></i></a>
                            {% endif %}
                            {% if server.login_link %}
                            <a href="{{server.login_link}}" target="_blank" class="button --icon-right">Control Panel<i data-feather="external-link"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2>Sites</h2>
    </div>
    <div class="container">
        <div class="data-controls">
            <div class="left">
                <div class="sort-select">
                    <i data-feather="filter"></i>
                    <select class="form-select" name="sort">
                        <option value="updated-desc">Last Updated (New to Old)</option>
                        <option value="updated-asc">Last Updated (Old to New)</option>
                        <option disabled></option>
                        <option value="name-asc">Primary Domain (A to Z)</option>
                        <option value="name-desc">Primary Domain (Z to A)</option>
                        <option disabled></option>
                        <option value="created-desc">Date Created (New to Old)</option>
                        <option value="created-asc">Date Created (Old to New)</option>
                    </select>
                </div>
            </div>
            <div class="right">
                <div class="layout-select">
                    <button class="layout-select__list"><i data-feather="list"></i></button>
                    <button class="layout-select__grid"><i data-feather="grid"></i></button>
                </div>
            </div>
        </div>
        <div class="index" data-server="{{server.server_slug}}">
            <div class="grid">
            </div>
            <div class="table --sites">
                <div class="header">
                    <span>Primary Domain</span>
                    <span>Client</span>
                    <span>Server</span>
                    <span>Created</span>
                    <span>Last Updated</span>
                </div>
                <div class="body">
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'flyouts/site_new.twig' %}
{% include 'flyouts/server_edit.twig' %}
{% endblock %}
